@import "tailwindcss";



body {
  font-family: Arial, Helvetica, sans-serif;
}
.playerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoPlayer {
  width: 95%;
  height: 350px;
  border-radius: 30px; /* To round the corners */
}

@media (min-width: 768px) {
  .videoPlayer {
    width: 512px;
    height: 426px;
  }
}